/* color palette from <https://github.com/vuejs/theme> */
@theme {
  --breakpoint-md: 44rem;
  --breakpoint-lg: 58rem;
  --breakpoint-xl: 73rem;
}

.text-14-400 {
  @apply text-[14px] font-[400];
}

.text-15-400 {
  @apply text-[15px] font-[400];
}

.text-15-500 {
  @apply text-[15px] font-[500];
}

.text-20-500 {
  @apply text-[20px] font-[500];
}

.text-22-700 {
  @apply text-[22px] font-[700];
}
